:root {
  //font-size
  --fs-80: 80px;
  --fs-44: 44px;
  --fs-38: 38px;
  --fs-30: 30px;
  --fs-24: 24px;
  --fs-20: 20px;
  --fs-18: 18px;
  --fs-16: 16px;
  --fs-12: 12px;
  --fs-10: 10px;

  //character spacing
  --cs--0-2: -1.2px;
  --cs--0-3: -1.3px;
  --cs--0-8: -0.8px;
  --cs--0-12: -0.12px;
  --cs--0-16: -0.16px;
  --cs--0-18: -0.18px;
  --cs--0-24: -0.24px;
  --cs--0-38: -0.38px;
  --cs--0-44: -1.44px;
  --cs--2: 2px;
  --cs--2-4: 2.4px;

  //line spacing
  --ls-84: 84;
  --ls-52: 52;
  --ls-48: 48;
  --ls-36: 36;
  --ls-30: 30;
  --ls-28: 28;
  --ls-24: 24;
  --ls-20: 20;
  --ls-18: 18;
  --ls-16: 16;
  --ls-14: 14;

  //font family
  --ff-body: Arial, Helvetica, sans-serif;
}
